body {
	background: url("../img/Skyrim.jpg")
		no-repeat center center fixed;
	background-size: cover;
	}
	
	
.main{
	margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: 
}